.hello {
    width: 450px;
    border: solid;
    border-width: 1px;
    border-color: black;
    padding: 10px;
}

.hamburgers {
    display: flex;
    width: 450px;
    height: 200px;
    border: solid;
    border-width: 1px;
    border-color: black;
    padding: 10px;
}

.jellies {
    display: flex;
    width: 450px;
    border: solid;
    border-width: 1px;
    border-color: black;
    padding: 10px;
}

.button-1 {
    position: relative;
    left: 35px;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: darkcyan;
    color: #fff;
    border: 2px solid;
    font-size: 20px;
    transition: 400ms;
}

.button-1:hover {
    color: darkcyan;
    background-color: #fff;
}

.button-2 {
    position: relative;
    left: 85px;
    padding: 1rem;
    background-color: #fff;
    font-size: 20px;
    transition: 400ms;
    border: none;
    color: darkcyan;
}

.button-2:hover {
    color: darkcyan;
    background-color: #fff;
    border-radius: 0rem;
    border: 5px solid;
    border-right: none;
    border-left: none;
    border-color: darkcyan;
    letter-spacing: .5rem;
}

.button-3 {
    position: relative;
    left: 160px;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #fff;
    color: darkcyan;
    border: 2px solid;
    font-size: 20px;
    transition: 400ms;
}

.button-3:hover {
    color: #fff;
    background-color: darkcyan;
}

.jelly {
    width: 200px;
    height: 240px;
    position: relative;
    border: 1px solid;
    margin: 1rem;
    overflow: hidden;
}

.jelly > img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(0) scale(0.75);
    transition: 400ms;
    transition-timing-function: ease-in-out;
}

.jelly:hover > img {
    transform: translate(-50%, -50%) rotate(12deg) scale(1);
}

.jelly > h3 {
    position: absolute;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem 2rem;
    right: -20px;
    bottom: 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 5% 50%);
    transition: 600ms;
    transition-delay: 200ms;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.jelly:hover > h3 {
    right: -200px;
}


