.hello {
    width: 450px;
    border: solid;
    border-width: 1px;
    border-color: black;
    padding: 10px;
}

.hamburgers {
    display: flex;
    width: 450px;
    height: 200px;
    border: solid;
    border-width: 1px;
    border-color: black;
    padding: 10px;
}

.hamburger1, .hamburger2, .hamburger3 {
    position: relative;
    left: 20px;
    top: 20px;
    width: 100px;
    height: 100px;
    border: solid;
    border-width: 1px;
    margin: 20px;
}

.hamburger1 > div {
    width: 70px;
    height: 10px;
    background-color: black;
    position: relative;
}

.hamburger1 > :nth-child(1){
    top: 20px;
    left: 15px;
    transition: 200ms;
}

.hamburger1 > :nth-child(2){
    top: 30px;
    left: 15px;
    transition: 200ms;
} 

.hamburger1 > :nth-child(3){
    top: 40px;
    left: 15px;
    transition: 200ms;
}

.hamburger1:hover{
    background-color: black;
}
  
.hamburger1:hover > :nth-child(1){
    position: relative;
    top: 40px;
    left: 15px;
    background-color: white;
    width: 70px;
    height: 10px;
    transform: rotate(45deg);
}
  
.hamburger1:hover > :nth-child(2){
    display: none;
}

.hamburger1:hover > :nth-child(3){
    position: relative;
    top: 30px;
    left: 10px;
    background-color: white;
    width: 70px;
    height: 10px;
    transform: rotate(-45deg);
}

.hamburger2 > div {
    width: 70px;
    height: 10px;
    background-color: black;
    position: relative;
}

.hamburger2 > :nth-child(1){
    top: 20px;
    left: 15px;
    transition: 200ms;
}

.hamburger2 > :nth-child(2){
    top: 30px;
    left: 15px;
    transition: 200ms;
} 

.hamburger2 > :nth-child(3){
    top: 40px;
    left: 15px;
    transition: 200ms;
}

.hamburger2:hover {
    background-color: black;
}

.hamburger2:hover > div{
    background-color: white;
}

.hamburger2:hover > div:first-child {
    width: 7px;
    height: 35px;
    left: 27px;
    top: 21px;
    transform: rotate(45deg)
}

.hamburger2:hover > div:nth-child(2) {
    width: 60px;
    height: 7px;
    top: 10px;
    left: 21px;
    transform:rotate(0);
}

.hamburger2:hover > div:last-child {
    width: 7px;
    height: 35px;
    left: 29px;
    top: 1px;
    transform: rotate(-45deg);
}

.hamburger3 > div {
    width: 70px;
    height: 10px;
    background-color: black;
    position: relative;
}

.hamburger3 > :nth-child(1){
    top: 20px;
    left: 15px;
    transition: 200ms;
}

.hamburger3> :nth-child(2){
    top: 30px;
    left: 15px;
    transition: 200ms;
} 

.hamburger3 > :nth-child(3){
    top: 40px;
    left: 15px;
    transition: 200ms;
}

.hamburger3:hover{
    background-color: black;
}

.hamburger3:hover > div{
    background-color: red;
}

.hamburger3:hover > :nth-child(1){
    position: relative;
    top: 25px;
    left: 3px;
    width: 60px;
    transform: translate(20px, 15px) rotate(48deg);
}

.hamburger3:hover > :nth-child(2){
    position: relative;
    top: -10px;
    left: 5px;
    width: 60px;
    height: 60px;
    border: 10px solid red;
    border-radius: 50%;
    background-color: transparent;
    transform: translate(10px, 10px) rotate(0deg);
}

.hamburger3:hover > :nth-child(3){
    position: relative;
    top: -69px;
    width: 60px;
    transform: translate(20px, 15px) rotate(-45deg);
}

.jellies {
    display: flex;
    width: 450px;
    border: solid;
    border-width: 1px;
    border-color: black;
    padding: 10px;
}

.button-1 {
    position: relative;
    left: 35px;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: darkcyan;
    color: #fff;
    border: 2px solid;
    font-size: 20px;
    transition: 400ms;
}

.button-1:hover {
    color: darkcyan;
    background-color: #fff;
}

.button-2 {
    position: relative;
    left: 85px;
    padding: 1rem;
    background-color: #fff;
    font-size: 20px;
    transition: 400ms;
    border: none;
    color: darkcyan;
}

.button-2:hover {
    color: darkcyan;
    background-color: #fff;
    border-radius: 0rem;
    border: 5px solid;
    border-right: none;
    border-left: none;
    border-color: darkcyan;
    letter-spacing: .5rem;
}

.button-3 {
    position: relative;
    left: 160px;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #fff;
    color: darkcyan;
    border: 2px solid;
    font-size: 20px;
    transition: 400ms;
}

.button-3:hover {
    color: #fff;
    background-color: darkcyan;
}

.jelly {
    width: 200px;
    height: 240px;
    position: relative;
    border: 1px solid;
    margin: 1rem;
    overflow: hidden;
}

.jelly > img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(0) scale(0.75);
    transition: 400ms;
    transition-timing-function: ease-in-out;
}

.jelly:hover > img {
    transform: translate(-50%, -50%) rotate(12deg) scale(1);
}

.jelly > h3 {
    position: absolute;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem 2rem;
    right: -20px;
    bottom: 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 5% 50%);
    transition: 600ms;
    transition-delay: 200ms;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.jelly:hover > h3 {
    right: -200px;
}

.jelly > h2 {
    position: absolute;
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem 2rem;
    left: -20px;
    top: 0;
    clip-path: circle(50% at 50% 50%);
    transform: translate(-100px,-100px) scale(0.5);
    transition: 400ms;
    transition-delay: 100ms; 
    transition-timing-function: ease-in-out;}

.jelly:hover > h2 {
    transform: translate(-5px,-5px) scale(1);
}
